html {
  font-family: Helvetica, sans-serif;
}

* {
  /* `inherit` is a special value usable with nearly CSS properties. It tells
     property to use the value of the corresponding the elements parent recursively
     until it finds a defined value. */
  font-family: inherit;
}

/* How do you select a link that's been visited? */

a:visited {
  /* CSS properties */
}

/* How do you select a div with a cursor on top? */

div:hover {}

/* How do you select elements with the attribute data-content? */

[data-content] {}

/* How do you select the first element with the attribute data-content? */

[data-content]:first-of-type {}

/* How do you select all child elements of ul, but the last one? */

ul > *:not(:last-child) {}


/* CSS for last demo */
html {
  background-color: whitesmoke;
}

body {
  margin: 0;
}

nav {
  background-color: steelblue;
  color: white;
  padding: 5px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.search-field {
  display: inline-block;
}

.board-list {
  padding: 0;
  list-style: none;
}

.board-list > li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: mediumpurple;
  color: white;
  height: 75px;
  padding: 5px;
  border-radius: 3px;
}

.board-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.board-list > li:nth-child(even) {
  background-color: darkseagreen;
}

main {
  margin: 15px;
}

/* Trick to display boxes surrounding all elements */

* {
  /*border: thin dotted pink !important;*/

  /* You can create colors using `rgba().
     It takes 4 values from 0-255 then 0-1: red, green, blue and alpha. alpha
     represents the opacity of the color. How transparent it is.
  */
  /*background-color: rgba(150, 150, 0, 0.1) !important;*/
}













/* bump */
