<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Features 2 Layout</title>
    <link rel="stylesheet" href="index.css" type="text/css" media="screen" charset="utf-8">
    <style>
      main {
        padding: 15px;
      }

      .primary {
        height: calc(50% - 15px);
        margin-bottom: 15px;
      }

      .secondary {
        display: flex;
        justify-content: space-between;
        height: 50%;
        background-color: initial;
      }

      .secondary > div {
        flex-basis: calc(50% - 7.5px);
      }
    </style>
  </head>
  <body>
    <main>
      <div class="primary"></div>
      <div class="secondary">
        <div></div>
        <div></div>
      </div>
    </main>
  </body>
</html>
