<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Features 2 Layout</title>
    <link rel="stylesheet" href="index.css" type="text/css" media="screen" charset="utf-8">
    <style>
      main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 7.5px;
      }
      main div {
        flex-basis: 30%;
        flex-shrink: 0;
        flex-grow: 1;
        margin: 7.5px;
      }
    </style>
  </head>
  <body>
    <main>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
  </body>
</html>
